	<ul class="sidebar-nav">
		<li>
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<a href="/"><span class="side-text">  Home</span></a>
		</li>
		<li>
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<a href="/book"><span class="side-text">  All Novels</span></a>
		</li>
		<li>
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<a href="/author"><span class="side-text">  All Authors</span></a>
		</li>
		<li>
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<a href="/genre"><span class="side-text">  All Genres</span></a>
		</li>
		<li>
			<hr/>
		</li>
		<li>
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<a href="/book/create"><span class="side-text">  Create New Novel</span></a>
		</li>
		<li>
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<a href="/author/create"><span class="side-text">  Create New Author</span></a>
		</li>
		<li>
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<a href="/genre/create"><span class="side-text">  Create New Genre</span></a>
		</li>		
	</ul>
