<!--views/genre_create.ejs-->
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<% include partials/header %>
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md  navbar-light bg-faded " style="background-color: #ee44aa;">
			<% include partials/navbar %>
		</nav>
	
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<sidebar>
						<%include partials/sidebar%>
					</sidebar>				
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-9">
					<content>
						<div class="content-heading">
							<h1><%=title%></h1>	
							<form action="/genre/create" method="POST">
								<div class="form-group">
									<label for="name">Genre</label>
									<input type="text" class="form-control" id="name" 
									name="name" placeholder="Genre"
									required />
								</div>
								<button type="submit" class="btn btn-default">Submit</button>
							</form>		

							<%if(errors){%>
								<ul>
									<%errors.forEach(function(error){%>
										<li><%=error.msg%></li>
									<%})%>
								</ul>
							<%}%>
						</div>  
					</content>
								<br>
			<hr>
				</div>
			</div>

			<footer>
				<% include partials/footer %>
			</footer>
		</div>
</body>
</html>

