<%include partials/_head.ejs%>

<body>
	<div class="container">
		<div class="form-container">
			<div class="form-thumbnail">
				<img src="images/pinkbook2-1.svg"/>
			</div>

			<h2>Login</h2>
			<!--show any messages that come back with authentication-->
			<%if(message.length>0){%>
				<div class="alert alert-danger">
					<%=message%>
				</div>
			<%}%>

			<!--Login Form-->
			<form action="/login" method="POST">
				<div class="form-group">
					<input type="email" id="email" name="email"
					class="form-control" placeholder="Email...">
				</div>
				
				<div class="form-group">
					<input type="password" id="password" name="password" 
					class="form-control" placeholder="Password...">
				</div>
				<button type="submit" class="btn btn-warning btn-lg">Login</button>
			</form>
			<hr/>
			<p class="message">Need an account? <a href="/signup">Sign Up</a> | <i class="fa fa-home"></i><a href="/"> Home</a>.</p>
		</div>
	</div>
</body>
</html>